<h1>My articles</h1>
<%= link_to 'Add a new article', articles_new_path %>
<% @articles.each do |article| %>
  <h5>
  <%= link_to article.title, article_path(article) %>
  <%= link_to 'delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %>
  </h5>
  <i class="fas fa-trash"></i>

<% end %>